/* line 5, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.container-white-background {
  background-color: white; }

/* line 10, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.thin-container-normal {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  width: 85%;
  margin: 0 auto;
  padding: 40px 0 80px 0;
  color: black; }
  /* line 19, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .thin-container-normal .col-md-4, .thin-container-normal .col-xs-6 {
    padding-top: 20px; }

/* line 25, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.location-side {
  background-color: #EAEBEC;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: lighter; }
  /* line 31, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .location-side h3 {
    font-weight: lighter; }

/* line 37, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.right-info-box {
  background-color: #EAEBEC;
  padding: 20px 20px;
  text-align: center;
  font-weight: lighter;
  border-bottom: 5px solid #c9c9c9;
  margin-bottom: 20px; }
  /* line 42, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .right-info-box h3 {
    font-weight: lighter; }
  /* line 47, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .right-info-box .btn {
    min-width: 137px;
    width: 100%;
    max-width: 200px; }

/* line 55, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.text-side {
  padding: 10px 20px;
  text-align: left;
  font-weight: lighter; }
  /* line 59, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .text-side h3, .text-side h2 {
    font-weight: lighter; }
  /* line 62, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .text-side hr {
    border-top: 1px dashed #ccc; }
  /* line 65, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .text-side button {
    float: right; }
  /* line 68, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .text-side img {
    border: .5px solid #ccc;
    float: left;
    height: 100px;
    width: 150px;
    margin-right: 20px; }
  /* line 75, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .text-side img.sponsor {
    height: auto; }
  /* line 79, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .text-side .organiser-details p {
    margin-bottom: 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 88, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
body, h1, h2, h3, h4, h4, h6, p, span, li, blockquote {
  font-family: 'Open Sans', sans-serif; }

/* line 90, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
body {
  background-color: #EAEBEC;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; }

/* line 97, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
a:focus {
  outline: none; }

/* line 101, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.light-bg {
  min-width: 100%;
  background-color: #FFFFFF; }

/* line 106, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.navbar-brand {
  height: initial; }

/* line 110, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.navbar-nav {
  margin-top: 15px; }
  /* line 112, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .navbar-nav a {
    color: #FFFFFF;
    font-size: 1em; }

/* line 118, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.navbar-default {
  border: none;
  background: #FFFFFF;
  padding-top: 0px; }

/* line 124, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.btn {
  color: #FFFFFF;
  border-radius: 40px;
  padding: 10px 5px;
  min-width: 200px;
  border: none;
  font-size: 0.9em;
  font-weight: bold; }

/* line 134, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.btn:hover, .btn:focus, .btn:active {
  color: #FFFFFF; }

/* line 138, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.btn-default {
  background-color: #404141; }

/* line 142, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active {
  background-color: #000000; }

/* line 146, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.btn-primary {
  background-color: #08B3A6; }

/* line 150, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #089388; }

/* line 154, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.btn-link {
  color: #08B3A6; }

/* line 158, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.btn-link:hover, .btn-link:focus, .btn-link:active {
  color: #089388; }

/* line 162, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
a {
  color: #08B3A6; }

/* line 166, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
a:hover {
  color: #089388; }

/* line 170, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
li .btn {
  margin-top: -15px; }

/* line 176, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
p {
  font-size: 1.2em;
  line-height: 1.6; }

/* line 182, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.taller-line-height {
  line-height: 1.7; }

/* line 186, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
h1 {
  font-size: 4em; }

/* line 190, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.font-light {
  font-weight: 100; }

/* line 194, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.text-center {
  text-align: center; }

/* line 198, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.carousel-indicators {
  bottom: -50px; }

/* line 203, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.carousel-indicators li {
  background-color: #BDBDBD;
  width: 10px !important;
  height: 10px !important; }

/* line 210, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.carousel-indicators li.active {
  background-color: #2375D2;
  margin: 1px; }

/* line 215, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.carousel-control {
  width: 5%; }

/* line 219, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.carousel-inner-left,
.carousel-inner-right {
  width: 50%;
  display: inline-block; }

/* line 226, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.carousel-inner-right {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: left;
  vertical-align: middle;
  transform: translateY(-50%);
  padding: 0 5%; }

/* line 236, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  outline: 0; }
  /* line 241, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .carousel-control.left .glyphicon,
  .carousel-control.right .glyphicon {
    width: 40px;
    height: 40px;
    background-color: #EFF0F1;
    border-radius: 100%;
    padding: 4px 0;
    color: black;
    font-weight: 100;
    margin-top: -20px;
    margin-left: -20px; }

/* line 255, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.panel {
  background-color: transparent; }

@media only screen and (max-width: 768px) {
  /* line 260, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  h1 {
    font-size: 3em; }

  /* line 264, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  h3 {
    font-size: 20px; }

  /* line 267, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  h4 {
    font-size: 16px; }

  /* line 270, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  p {
    font-size: 1em; }

  /* line 274, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .carousel-inner-left,
  .carousel-inner-right {
    width: 100%;
    display: block; }

  /* line 280, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .carousel-inner-right {
    position: relative;
    transform: none;
    left: 0;
    padding: 10px;
    margin-top: 40px;
    text-align: center; }

  /* line 290, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .container-past-challenges .carousel-control {
    width: 50%; }

  /* line 298, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .carousel-control.left .glyphicon,
  .carousel-control.right .glyphicon {
    margin-top: 5px; }
  /* line 302, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .carousel-control.left .glyphicon-chevron-left,
  .carousel-control.right .glyphicon-chevron-left {
    margin-left: 25%; }
  /* line 306, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .carousel-control.left .glyphicon-chevron-right,
  .carousel-control.right .glyphicon-chevron-right {
    left: 20px; }

  /* line 311, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .carousel-indicators {
    display: none; } }
/* line 316, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
.dropdown-default {
  min-width: 200px; }
  /* line 319, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .dropdown-default .dropdown-menu {
    background-color: #404141;
    min-width: 200px; }
  /* line 324, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .dropdown-default .dropdown-menu > li > a {
    color: #ffffff; }
  /* line 327, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_base.scss */
  .dropdown-default .dropdown-menu > li > a:focus,
  .dropdown-default .dropdown-menu > li > a:hover {
    background-color: #000000; }

/* line 5, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
#galleria {
  height: 620px; }

/* line 7, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
#hhhead {
  font-variant: small-caps;
  font-weight: 800; }

/* line 9, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.img-small {
  width: 250px; }

/* line 10, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.callToAction {
  font-size: 1.0em; }

/* line 14, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.hipsterteal {
  color: white !important;
  background-color: #17AA9D !important;
  border-color: #17A195 !important; }

/* line 20, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
#sponsor-page {
  background-color: white; }

/* line 24, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.register {
  margin-top: 5px; }

/* line 28, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.sponsors {
  line-height: 150px; }

/* line 32, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.sponsor {
  max-width: 250px;
  padding: 5px;
  vertical-align: middle; }

/* line 38, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.title2013 {
  margin-left: 13px;
  padding-top: 20px;
  font-size: 2.0em;
  border-top: 1px solid #eee; }

/* line 45, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.thumbtext {
  font-size: 0.8em; }

/* line 49, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.offset {
  margin-top: 27px; }

/* line 54, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.sideoffset {
  margin-left: 30px; }

/* line 59, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.col-md-6 h3.sideoffset {
  margin-bottom: 20px;
  margin-left: 0;
  margin-top: 20px;
  font-weight: lighter; }

/* line 67, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.col-footer {
  padding: 20px 0 30px 0; }

/* line 71, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.less-padding-centred {
  text-align: center;
  padding-right: 0;
  word-wrap: break-word; }

/* line 77, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.row-sponsors, .row-social {
  width: 100%; }
  /* line 79, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  .row-sponsors .col-md-4, .row-sponsors .col-xs-6, .row-social .col-md-4, .row-social .col-xs-6 {
    min-height: 120px; }
  /* line 82, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  .row-sponsors .min-height, .row-social .min-height {
    min-height: 380px; }

/* line 86, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.row-social {
  padding: 0 10px; }

/* line 90, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.row-social:after {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 80%;
  border-right: 1px solid #ccc; }

/* line 101, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.social-logo {
  height: 20px;
  width: 30px; }

/* line 105, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.boldbrand {
  font-weight: bold; }

/* line 109, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.text-justify {
  text-align: justify; }

/* line 113, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
.nav-btn {
  display: inline-block; }
  /* line 115, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  .nav-btn li {
    display: inline-block;
    padding-top: 10px; }
  /* line 119, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  .nav-btn .dropdown-default {
    padding-right: 20px; }

@media (min-width: 1200px) {
  /* line 125, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  body .light-bg > .container {
    max-width: none; } }
@media only screen and (min-width: 922px) {
  /* line 130, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  body .light-bg > .container {
    max-width: none; } }
@media only screen and (min-width: 768px) {
  /* line 135, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  body .light-bg > .container {
    max-width: none; } }
@media only screen and (max-width: 1013px) {
  /* line 141, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  .row-social {
    border-right: 0; }

  /* line 144, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  .row-social:before {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;
    height: 1px;
    width: 80%;
    border-bottom: 1px dotted #ccc; }

  /* line 153, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  body .light-bg > .container {
    max-width: none; }
    /* line 155, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
    body .light-bg > .container .nav-btn {
      display: block;
      margin-bottom: 5px;
      margin-top: 5px; }
    /* line 160, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
    body .light-bg > .container li > a {
      padding-top: 2px; } }
@media only screen and (max-width: 767px) {
  /* line 168, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  body .light-bg > .container .btn {
    width: 100%; }
  /* line 171, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  body .light-bg > .container .btn-default {
    width: 100%; }

  /* line 176, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  .nav-btn li {
    display: block; }

  /* line 179, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/main.css.scss */
  .nav-btn .dropdown-default {
    padding: 10px 15px; } }
/* line 5, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
.top-container {
  background: url("../images/background-banners/HH_HomeImage_1x.jpg") no-repeat;
  background-size: cover;
  height: 525px;
  margin-top: -20px;
  padding: 20px 20px;
  text-align: center;
  color: #FFFFFF; }
  /* line 15, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .top-container h1 {
    font-weight: 100; }

/* line 24, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
.row {
  padding-bottom: 20px 0 30px 0; }

/* line 28, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
.top-container-col {
  margin-top: 20px;
  padding: 2.2em;
  background-color: #FFFFFF;
  text-align: center;
  color: #000000; }
  /* line 34, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .top-container-col h2 {
    font-weight: 100; }
  /* line 37, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .top-container-col .btn {
    vertical-align: baseline;
    font-size: 14px;
    padding: 10px 20px; }

/* line 44, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
.top-container-text {
  padding: 2em; }

/* line 48, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
.top-container-dropdown {
  width: 200px;
  margin: 0 auto; }

/* line 52, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
.row-involved {
  margin-top: -160px;
  padding: 0 10%; }

/* line 62, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
.event-description {
  text-align: justify;
  width: 100%;
  margin: 30px auto;
  font-size: larger;
  font-weight: 300; }

/* line 70, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
.event-regions {
  text-align: center;
  color: white;
  position: relative; }
  /* line 76, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .event-regions .event-region {
    color: #fff;
    cursor: pointer;
    position: relative;
    display: block; }
  /* line 83, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .event-regions .event-region-shadow {
    position: absolute;
    background-color: #0A0A0A;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7; }
  /* line 93, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .event-regions .event-region:hover {
    font-style: normal;
    text-decoration: none; }
    /* line 97, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
    .event-regions .event-region:hover .event-region-shadow {
      opacity: 0.9; }
    /* line 101, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
    .event-regions .event-region:hover .event-region-text {
      text-decoration: none; }
  /* line 106, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .event-regions .event-region-shadow:hover {
    opacity: 0.9; }
  /* line 111, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .event-regions .event-region-image {
    width: 100%;
    height: auto; }
  /* line 116, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .event-regions .event-region-text {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -75px;
    color: #fff; }

/* line 128, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
.container-past-challenges {
  margin-top: 30px; }
  /* line 131, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .container-past-challenges .carousel-winner {
    margin-top: 30px;
    background-color: #ffffff; }

/* line 141, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
.container-social-sponsors {
  padding: 70px 10px 0 10px; }

/* line 145, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
.twitter-panel {
  padding: 0 5%;
  width: 100%;
  text-align: center; }

/* line 151, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
.footer-okfna {
  width: 30px; }

/* line 155, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
footer {
  padding: 10px 10%;
  line-height: 30px; }

@media only screen and (max-width: 768px) {
  /* line 162, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .top-container {
    padding: 20px 25px; }

  /* line 165, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .row-involved {
    margin-top: -30%; }

  /* line 168, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .event-description {
    width: 90%; }

  /* line 171, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_home.scss */
  .event-regions .col-sm-3 {
    margin: 10px 0;
    padding: 10px; } }
/* line 6, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.top-container-base {
  background-color: white;
  background: linear-gradient(rgba(56, 149, 179, 0.6), #1065a7), top left;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  margin-top: -20px;
  padding-top: 20px;
  color: white; }

/* line 21, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.top-container-challenges {
  background: linear-gradient(rgba(56, 149, 179, 0.6), rgba(16, 101, 167, 0.8)), url("../images/background-banners/challenges.jpg") no-repeat center;
  background-size: cover; }

/* line 31, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.top-container-sponsors {
  background: linear-gradient(rgba(56, 149, 179, 0.6), rgba(16, 101, 167, 0.8)), url("../images/background-banners/sponsors.jpg") no-repeat center;
  background-size: cover; }

/* line 41, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.top-container-organisers {
  background: linear-gradient(rgba(56, 149, 179, 0.6), rgba(16, 101, 167, 0.8)), url("../images/background-banners/organisers.jpg") no-repeat center;
  background-size: cover; }

/* line 55, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.top-container-Sydney {
  background: linear-gradient(rgba(56, 149, 179, 0.7), rgba(16, 101, 167, 0.8)), url("../images/background-banners/sydney-lg.jpg") no-repeat left;
  background-size: cover; }

/* line 65, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.top-container-Brisbane {
  background: linear-gradient(rgba(56, 149, 179, 0.7), #1065a7), url("../images/background-banners/brisbane-lg.jpg") no-repeat left;
  background-size: cover; }

/* line 75, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.top-container-Melbourne {
  background: linear-gradient(rgba(56, 149, 179, 0.7), #1065a7), url("../images/background-banners/melbourne-lg.jpg") no-repeat left;
  background-size: cover; }

/* line 85, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.top-container-Perth {
  background: linear-gradient(rgba(56, 149, 179, 0.7), #1065a7), url("../images/background-banners/perth-lg.jpg") no-repeat left;
  background-size: cover; }

/* line 99, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
#map-canvas {
  width: 100%;
  height: 200px; }

/* line 108, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.modal {
  margin: 0.5%; }

/* line 112, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

/* line 119, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.modal-content {
  height: 100%;
  overflow: auto; }

/* line 124, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.challenge-title {
  padding-left: 12px;
  padding-right: 20px;
  margin-bottom: -20px; }
  /* line 129, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
  .challenge-title .organiser-details {
    margin-top: 45px; }

/* line 134, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.challenge-winner-label {
  background-color: #2575d4;
  padding: 5px 30px;
  color: white;
  float: right;
  margin-top: -21px; }

/* line 142, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.challenge-details-panel {
  text-align: justify;
  padding: 5px 20px; }

/* line 149, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.challenge-row .btn {
  float: left;
  margin: 10px 10px 10px 0; }
/* line 153, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.challenge-row .grey-btn {
  background-color: #718795;
  color: #ffffff; }
/* line 157, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.challenge-row .grey-btn:hover {
  background-color: #3e5564; }
/* line 158, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.challenge-row .white-btn {
  background-color: #ffffff;
  color: #718795;
  border: 1px #718795 solid; }
/* line 163, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.challenge-row .white-btn:hover {
  color: #3e5564;
  border: 1px #3e5564 solid;
  background-color: #e1e8ec; }

/* line 170, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.search {
  height: 35px;
  min-width: 300px;
  margin-left: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px; }

/* line 179, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.circular-centered {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 350%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  top: -40px;
  margin: 0px auto; }

/* line 195, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.sponsor-block-cn {
  position: relative;
  margin-top: 30px; }

/* line 200, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.sponsor-block-inner {
  vertical-align: middle; }

/* line 204, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.sponsor-img-div {
  height: 100px;
  margin-bottom: 20px;
  text-align: center; }

/* line 210, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.sponsor-logo-text-div {
  text-align: justify; }

/* line 214, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.sponsor-logo-img-div {
  height: 80px;
  margin-bottom: 10px; }

/* line 219, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.sponsor-img {
  width: auto;
  height: 85%; }

/* line 224, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.sponsor-grouping {
  padding-top: 40px;
  padding-bottom: 0px; }

/* line 229, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.sponsor-hr {
  height: 2px;
  background-color: #EAEBEC;
  text-align: left; }

/* line 235, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.sponsor-grouping-img {
  height: 30px;
  position: relative;
  top: -15px; }

/* line 245, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.bottom-container {
  background-color: #363435;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: 50px 0 60px 0;
  color: white; }
  /* line 252, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
  .bottom-container h3 {
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: 20px; }
  /* line 257, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
  .bottom-container h4 {
    font-weight: lighter;
    margin-bottom: 20px; }

/* line 263, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.form-control {
  max-width: 300px; }

/* line 271, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.quote-side {
  background-color: #EAEBEC;
  padding: 10px 20px 0 20px;
  margin-top: 50px;
  text-align: center;
  font-weight: lighter;
  word-wrap: break-word; }
  /* line 278, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
  .quote-side h3 {
    font-weight: lighter; }

/* line 283, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.quotes {
  font-family: Georgia, serif;
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 2em;
  margin-top: -1em;
  padding: 0.35em 30px;
  line-height: 1.45;
  position: relative;
  color: black; }

/* line 295, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.quotes:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -25px; }

/* line 305, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.quotes:after {
  display: block;
  content: "\201D";
  font-size: 80px;
  position: absolute;
  right: 0px;
  bottom: -70px; }

/* line 314, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
#triangle-down {
  width: 10px;
  bottom: -30px;
  margin: 0px auto;
  position: relative;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #EAEBEC; }

/* line 328, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.organiser-image {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  border-radius: 50%;
  float: left;
  width: 100px;
  height: 100px;
  position: relative;
  top: 15px;
  margin-right: 20px; }

/* line 341, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.organiser-details {
  float: left;
  margin-bottom: 20px; }

/* line 350, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.pagination {
  margin: 0 0 10px 0; }
  /* line 352, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
  .pagination li {
    display: inline-block;
    padding: 5px; }

/* line 358, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #08b3a6;
  border-color: #08b3a6;
  color: #fff;
  cursor: default;
  z-index: 1; }

/* line 365, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.pagination > li > a, .pagination > li > span {
  background-color: #fff;
  border: none;
  float: none;
  line-height: 1.42857;
  margin: 0 auto;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  border-radius: 20px; }

/* line 377, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:last-child > a:hover, .pagination > li:last-child > span:hover, .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:first-child > a:hover, .pagination > li:first-child > span:hover {
  border-radius: 20px; }

/* line 381, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
.pagination-container {
  text-align: center; }

@media only screen and (max-width: 768px) {
  /* line 386, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
  .form-control {
    margin: 0 auto; }

  /* line 389, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
  .thin-container-normal {
    width: 90%; }

  /* line 392, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
  .top-container-normal {
    padding: 20px 25px; }

  /* line 395, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
  .search {
    min-width: 100%;
    margin-top: 10px;
    margin-left: 0; } }
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 404, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
  .sponsor-img {
    width: auto;
    height: 90%; } }
/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 412, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
  .sponsor-img {
    width: 100%;
    height: auto; } }
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* line 420, /home/mimelfor/working/currentProjects/hh/website-2015/source/stylesheets/components/_pages.scss */
  .sponsor-img {
    width: auto;
    height: 100%; } }
